<div class="row">
  <div class="col-md-5 col-sm-12 mx-auto">
    <div class="card rounded-0">
      <h5 class="card-header py-2">Create an account</h5>
      <div class="card-body p-md-4 p-sm-2">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        input_html: { autocomplete: "email" }%>
            <%= f.input :username,
                        required: true,
                        pattern: "[a-zA-Z0-9]+",
                        input_html: { autocomplete: "username" }%>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign up", class: "btn btn-primary btn-lg btn-block" %>
          </div>
        <% end %>
      </div>
    </div>
    <%= render "devise/shared/links" %>
  </div>
</div>
