<div class="container-fluid">
  <div class="row">
    <div class="col-7 mx-auto">
        <h1 class="mb-3">Resources</h1>
        <table class="table table-sm">
          <thead class="thead-light">
            <tr>
                              <th>Name</th>
                              <th>Description</th>
                            <th></th>
            </tr>
          </thead>
          <tbody>
            <% @resources.each do |resource| %>
              <tr>
                                  <td>
                    <%= resource.name %>
                  </td>      
                                  <td>
                    <%= resource.description %>
                  </td>      
                                <td>
                  <div class="float-right">
                    <%= link_to 'Show', resource, class:"btn btn-light min-width-btn" %>
                    <%= link_to 'Edit', edit_resource_path(resource),class:"btn btn-primary min-width-btn"  %>     
                    <%= link_to 'Delete', resource, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger min-width-btn"%>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <br>
        <%= link_to 'Add Resource', new_resource_path,class:"btn btn-success min-width-btn" %>
      </div>
    </div>
  </div>
</div>
