<%= link_to new_reblog_path(post),
  id: "reblog-#{post.id}",
  class: 'btn btn-outline-primary btn-sm' do %>
  <i class="fas fa-retweet"></i>
<% end %>

<%= link_to new_post_comment_path(post), 
  id: "comment-#{post.id}",
  class: 'btn btn-outline-primary btn-sm' do %>
  <i class="far fa-comment"></i>
<% end %>
<span id="like-unlike-<%= post.id %>">
  <% like = post.root.likes.find { |like| like.user == current_user } %>
  <% if like %>
    <%= render 'posts/unlike_button', post: post, like: like %>
  <% else %>
    <%= render 'posts/like_button', post: post %>
  <% end %>
</span>
