<div class="row mb-1">
  <div class="col-12 mx-auto">
    <div class="card rounded-0">
      <% post.ancestors.each do |ancestor| %>
        <%= render 'posts/body', post: ancestor %>
      <% end %>
      <%= render 'posts/body', post: post %>
      <div class="card-footer text-muted border-top-0 p-1">
          <%= render 'posts/time_and_notes', post: post %>
        <div class="float-right">
          <% if user_signed_in? %>
            <%= render 'posts/interaction_buttons', post: post %>
            <%= render 'posts/author_buttons', post: post %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
