<div class="row">
  <div class="col-12 mx-auto">
    <div class="card mt-4">
      <% post.ancestors.each do |ancestor| %>
        <%= render 'posts/body', post: ancestor %>
      <% end %>
      <%= render 'posts/body', post: post %>
      <div class="card-footer text-muted border-top-0">
          <%= render 'posts/time_and_notes', post: post %>
        <div class="float-right">
          <%= render 'posts/interaction_buttons', post: post %>
          <%= render 'posts/author_buttons', post: post %>
        </div>
      </div>
    </div>
  </div>
</div>
