<div class="row">
  <div class="col-md-6 col-sm-12 mx-auto">
    <div class="card rounded-0">
      <h5 class="card-header p-2">Reblog</h5>
      <% @post.ancestors.each do |ancestor| %>
        <%= render 'posts/body', post: ancestor %>
      <% end %>
      <div class="card-body">
        <%= simple_form_for(@post, url: reblog_post_path(@parent)) do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

          <div class="form-inputs">
            <%= f.input :content, label: false %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Reblog", class: "btn btn-primary btn-block" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
