<!DOCTYPE html>
<html>
  <head>
    <title>RailsTemplate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

  <body>
    <%= render 'shared/navbar' %>
    <div class="container p-4">
      <div class="row">
        <div class="col mx-auto">
          <% flash.each do |key, message| %>
            <div class="alert alert-primary">
              <%= message %>
            </div>
          <% end %>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
