<!DOCTYPE html>
<html>
  <head>
    <title>Rumblr</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

  <body>
    <div class="row">
      <div class="col mx-auto">
        <% flash.each do |key, message| %>
          <div class="alert alert-primary rounded-0 mb-0">
            <%= message %>
          </div>
        <% end %>
      </div>
    </div>
    <%= render 'shared/navbar' %>
    <div class="container p-4">
      <%= yield %>
    </div>
  </body>
</html>
